
<h1>Sign-Up</h1>

<% if @user.errors.any? %>
  <p>There are <%= @user.errors.count %> errors with sign up.</p>
    <% @user.errors.full_messages.each do |message|%>
    <ul>
      <li><%= message %></li>
    </ul>
    <% end %>
<% end %>
<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <br></br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <br></br>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br></br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br></br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br></br>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <br></br>
  <p>Select an instrument</p>
  <%= f.collection_check_boxes :instrument_ids, @instruments, :id, :name%> <br>
  <br></br>
  <%= f.collection_select :city_id, @cities, :id, :name%>
  <br></br>
  <%= f.label :bio %>
  <%= f.text_field :bio %>
  <br></br>
  <%= f.submit %>
<% end %>
