<h1>Profile Page</h1>

<label>Name:</label> <%= @user.to_s %>
<br />
<label>Age:</label> <%= @user.age %>
<br />
<label>Bio:</label> <%= @user.bio %>
<br />
<label>City:</label> <%= @user.city.name %>
<br />
<label>Email:</label> <%= mail_to @user.email, @user.email, {subject: "Hey from #{@current_user.to_s}. Found you on Gigster!", body: "Tryna play?"} %>
<br />
<% @user.instruments.each do |instrument| %>
  <li> <%= instrument.name %> </li>

<% end %>
<%= button_to "Edit profile", edit_user_path(@user), :method => :get%>

<h2>Upcoming Gigs</h2>

  <% if @user.bookings.empty? %>
    <p>You don't have any gigs as a leader!</p>
  <% else %>
      <h3>Gigs as Leader</h3>
        <% @user.ordered_bookings.each do |gig|%>
        <%= link_to gig.name, gig_path(gig) %>
    <ul>
      <li>Venue:</li>
      <li><%= gig.location %></li>
      <br></br>
      <li>Date:</li>
      <li><%= gig.date.strftime("%A %B %d, %Y")%></li>
      <br></br>
      <li>Hit</li>
      <li><%= gig.start_time.strftime("%l:%M") %></li>
    </ul>
    <% end %>
<% end %>
<br></br>
<h3>Gigs as sideperson</h3>
    <% if @user.gigs.empty? %>
      <p> You do not have any gigs as a sideperson!</p>
    <% else %>
      <% @user.ordered_gigs.each do |gig|%>
      <%= gig.name %>
      <ul>
        <li>Venue:</li>
        <li><%= gig.location %></li>
        <br></br>
        <li>Date:</li>
        <li><%= gig.date.strftime("%A %B %d, %Y")%></li>
        <br></br>
        <li>Hit</li>
        <li><%= gig.start_time.strftime("%l:%M") %></li>
        <br></br>
        <li>Gig Leader:</li>
        <li><%= link_to gig.leader, user_path(gig.leader)%></li>
      </ul>
  <% end %>
<% end %>
