<h1>Edit A Gig</h1>

<%= form_for @gig do |f|%>
  <label>Name Your gig! (You worked hard for it!)</label>
  <%= f.text_field :name %>
  <br></br>
  <label>Venue</label>
  <%= f.text_field :location %>
  <br></br>
  <label>Date (YYYY-MM-DD)</label>
  <%= f.text_field :date %>
  <br></br>
  <label>Time(HH:MM) Military Time</label>
  <%= f.text_field :start_time %>
  <br></br>
  <label>Select Leader who booked this gig!</label>
  <%= f.collection_select :leader_id, @users, :id, :to_s %><br>
  <br></br>
  <label>Select a city</label>
  <%= f.collection_select :city_id, @cities, :id, :name%>
  <br></br>
  <label>Remove musicians who are already on the gig</label>
  <br></br>
  <%= f.collection_check_boxes :musician_ids, @gig.musicians, :id, :to_s%>
  <br></br>

  <% if @musicians %>
    <label> Add Musicians to this gig: </label>
    <br></br>
    <%= f.collection_check_boxes :musician_ids, @musicians, :id, :to_s %>
  <% end %>
  <!-- <label>Select Musicans who are part of this gig!</label><br> -->
  <br></br>
  <%= f.submit %>
 <br></br>
<% end %>
<label>Search for musicians by instrument in <%= @gig.city.name %> and add them to this gig!</label>
<%= form_tag(edit_gig_path(@gig), :method => 'get', id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Instruments" %>
    <%= submit_tag "Search" %>
<% end %>
