<h1>Gigs</h1>

<% @gigs.order_by_date.each do |gig| %>
  <label>Name:</label>
  <%= link_to gig.name, gig_path(gig) %>
  <ul>
    <li>Venue:</li>
    <li><%= gig.location %></li>
    <li><%= gig.city.name %></li>
    <br></br>
    <li>Date:</li>
    <li><%= gig.date.strftime("%A %B %d, %Y")%></li>
    <br></br>
    <li>Hit</li>
    <li><%= gig.start_time.strftime("%l:%M") %></li>
    <br></br>
  </ul>
<% end %>
