<h1>Create a new gig</h1>
<h3>Give some hungry musicians some work</h3>

<%= form_for @gig do |f|%>
  <label>Name Your gig! (You worked hard for it!)</label>
  <%= f.text_field :name %>
  <br></br>
  <label>Venue</label>
  <%= f.text_field :location %>
  <br></br>
  <label>Date (DD-MM-YYYY)</label>
  <%= f.text_field :date %>
  <br></br>
  <label>Time(HH:MM) Military Time</label>
  <%= f.text_field :start_time %>
  <br></br>
  <label>Select a city</label>
  <%= f.collection_select :city_id, @cities, :id, :name%>
  <br></br>
  <%= f.submit %>
<% end %>
