<h1> <%= @gig.name %> </h1>

<%= @gig.name %>
<ul>
  <li>Venue:</li>
  <li><%= @gig.location %></li>
  <br></br>
  <li>Date:</li>
  <li><%= @gig.date.strftime("%A %B %d, %Y")%></li>
  <br></br>
  <li>Hit</li>
  <li><%= @gig.start_time.strftime("%l:%M") %></li>
  <br></br>
  <li>Gig Leader:</li>
  <li><%= link_to @gig.leader.to_s, user_path(@gig.leader)%></li>
  <% if @gig.leader_id == session[:user_id] %>
    <li><%= link_to "Edit this gig", edit_gig_path(@gig)%></li>
  <% end %>
  <br></br>
  <li>Musicians on this gig</li>
  <ul>
    <% @gig.musicians.each do |musician| %>
    <li><%= link_to "#{musician.to_s}", user_path(musician) %></li>
      <label><%= "#{musician.to_s}'s instruments"%></label>
        <% musician.instruments.each do |instrument|%>
        <ul>
          <li><%= instrument.name %></li>
        </ul>
        <% end %>
    <% end %>
  </ul>
</ul>
