<h1> <%= @gig.name %> </h1>

<%= @gig.name %>
<ul>
  <li>Venue:</li>
  <li><%= @gig.location %></li>
  <br></br>
  <li>Date:</li>
  <li><%= @gig.date.strftime("%A %B %d, %Y")%></li>
  <br></br>
  <li>Hit</li>
  <li><%= @gig.start_time.strftime("%l:%M") %></li>
  <br></br>
  <li>Gig Leader:</li>
  <li><%= link_to @gig.leader.to_s, user_path(@gig.leader)%></li>
</ul>
