<!DOCTYPE html>
<html>
  <head>
    <title>Gigster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    `<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" %>`
  </head>

  <body>
      <% if logged_in? %>
    <p>Gigster</p> <%= link_to "Sign Out", signout_path, method: :delete %>
        <%= link_to "Gigs", gigs_path %> <%= link_to "Cities", cities_path%> <%= link_to "Profile", user_path(session[:user_id])%> <%= link_to "Create Gig", new_gig_path%>
      <% end %>
      <br></br>
      <% flash.each do |key, value| %>
        <em><%= value %></em>
      <% end %>

      <%= yield %>
  
  </body>
</html>
